<div id="sect1" >
    <header class="main-header-1">
      <div>
        <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="logo">Car Rental</a>
      </div>
      <nav class="navigation">
        <a routerLink="/adminpage" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="main-items">Back</a>
        <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="main-items">Log-out</a>
      </nav>
    </header>

    
 
    <h1 style="text-align: center; color: black;">Update Car</h1>
    <div class="card-container">
    <div class="card">
      <form Class="Add_Med" #s="ngForm" (ngSubmit)="onSubmit(s)">
        <div class="form-group">
            <label for="carId">&emsp;Car Id&emsp;</label>
            <input type="text" style="width: 250px;" required class="form-control" name="carId" [(ngModel)]="updatecar.carId" ngModel="carId" readonly />
          </div>
      <div class="form-group">
        <label for="carName">&emsp;Car Name&emsp;</label>
        <input type="text" style="width: 250px;" required class="form-control" name="carName" [(ngModel)]="updatecar.carName" ngModel="carName"/>
      </div>
      <div class="form-group">
        <label for="carName">&emsp;Car Model&emsp;</label>
        <input type="text" style="width: 250px;" required class="form-control" name="carModel" [(ngModel)]="updatecar.carModel" ngModel="carModel" />
      </div>
      <div class="form-group">
        <label for="carPrice">&emsp;Car Rent/day&emsp;</label>
        <input type="text" style="width: 250px;" required class="form-control" name="carPrice" [(ngModel)]="updatecar.rentPrice" ngModel="carPrice" />
      </div>
      <div class="form-group">
        <label for="carName">&emsp;Car image Adress&emsp;</label>
        <input type="text" style="width: 350px;" required class="form-control" name="carPic" [(ngModel)]="updatecar.carPic" ngModel="carPic"/>
      </div>
      
      <div class="button-container">
      <button class="btn btn-danger">Submit</button>
      </div>
    </form>
  </div>
</div>

</div>